@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}

/* keyframes: {
    show: {
      "0%": {
        opacity: "0",
      },
      "50%": {
        opacity: "0",
      },
      "100%": {
        opacity: "1",
      },
    },
    showWithTranslate: {
      "0%": {
        opacity: "0",
        transform: `translate(0, 300%)`,
      },
      "50%": {
        opacity: "0",
        transform: `translate(0, 300%)`,
      },
      "100%": {
        opacity: "1",
        transform: `translate(0, 0)`,
      },
    },
  },
  animation: {
    show: "show 1s ease-in-out",
    show_main_title: "showWithTranslate 2s ease-in-out",
  }, */

@theme {
  --animate-show: show 1s ease-out;

  @keyframes show {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}

@theme {
  --animate-show-with-translate: showWithTranslate 2s ease-out;

  @keyframes showWithTranslate {
    0% {
      opacity: 0;
      transform: translate(0, 300%);
    }
    50% {
      opacity: 0;
      transform: translate(0, 300%);
    }
    100% {
      opacity: 1;
      transform: translate(0, 0);
    }
  }
}

.swiper-button-prev,
.swiper-button-next {
  display: none !important;
}
